/*  fonts of the web site */
@font-face {
	font-family:"Have_Heart";
	src: url("fonts/have_heart_one.ttf");
	}

@font-face {
	font-family:"Have_Heart2";
	src: url("fonts/have_heart_two.ttf");
	}

@font-face {
	font-family:"bebas";
	src: url("fonts/BNR.ttf");
	}

@font-face {
	font-family:"aldo";
	src: url("fonts/ATA.ttf");
}

@font-face {
	font-family:"AT1";
	src: url("fonts/AT1.ttf");
}

br {
	display: block;
        margin-left: auto;
	margin-right: auto;
}

/*html styles things*/
html {
      padding-bottom: auto;
      background-color: #191931;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.nav {
      display: block;
      background-color: #4d4dff;
      padding-bottom: 15px;

}

.bar {
      font-size: 50px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      font-family: "Have_Heart";
      width: 250px;
      padding-left: 10px;
}

.topnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d4dff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family:"bebas";
}

.topnav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.topnav a:hover {
  color: #2A2A53;
}

.topnav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .topnav {padding-top: 15px;}
  .topnav a {font-size: 18px;}
}
/*///////////////////////////////////////////////////////////////////*/

body {
	margin: 0px;
}

h2 { text-align: center;
	color: #fff;
	font-size: 50px;
	font-family:"AT1";
}
h3 { text-align: left;
     color: #fff;
     font-size: 40px;
}

.blogPost {
	   margin: 40px;
       color: #fff;


}

.bottomMessage {
	         color: #fff;
		 text-align: center;

}

